/* Write your CSS here */

.team-matches-container {
  padding: 40px 20px;
  font-family: 'Bree Serif';
}

.banner-img {
  width: 100%;
}

.latest-match-heading {
  color: #ffffff;
}

.recent-matches-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.RCB-bg-color {
  background-image: linear-gradient(to bottom, #a4261d, #1e293b);
}

.KKR-bg-color {
  background-image: linear-gradient(to bottom, #5755a7, #1e293b);
}

.KXP-bg-color {
  background-image: linear-gradient(to bottom, #d91c1f, #1e293b);
}

.CSK-bg-color {
  background-image: linear-gradient(to bottom, #f7db00, #1e293b);
}

.RR-bg-color {
  background-image: linear-gradient(to bottom, #da237b, #1e293b);
}

.MI-bg-color {
  background-image: linear-gradient(to bottom, #13418b, #1e293b);
}

.SH-bg-color {
  background-image: linear-gradient(to bottom, #f26d22, #1e293b);
}

.DC-bg-color {
  background-image: linear-gradient(to bottom, #4f5db0, #1e293b);
}

@media screen and (min-width: 768px) {
  .team-matches-container {
    padding: 80px 50px;
  }
}
